#tags {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
}

#tags .page-tag {
  display: inline-block;
  font-size: 14px;
  /* font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif; */
  letter-spacing: -0.005rem;
  font-weight: 400;
  background-color:#9a9a9a;
  color: #fff;
  font-style: normal;
  margin-right: 5px;
  margin-left: 0px;
  padding: 2px 8px;
  border-radius: 4px;
  text-decoration: none;
  will-change: background-color;
  transition: background-color .3s
}

#tags .page-tag:hover {
  background-color: #ccc;
}

.post-desc{
  font-size: .8rem;
}

.page, .post {
  margin-bottom: 2em;
  font-size: 0.8rem;
}