{{ define "main" -}}
<div class="posts list">
{{ range .Site.RegularPages -}}
<article class="post" data-date="{{ .Date.Format "Jan 2, 2006" }}">
  <h2 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h2>
  {{ with .Params.tags }}
    <ul id="tags">
      {{ range . }}
      <li> <a class="page-tag" href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
  {{ end }}
  {{ if .Truncated }}
  {{ end }}
</article>
{{- end }}
</div>
{{- end }}
